@import url('https://fonts.googleapis.com/css?family=Modak');

body {
  font-family: 'Modak', cursive;
  background-color: pink;
  text-align: center;
}

main {
  width: 100%;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div {
  margin: 10px;
  padding: 5px;
  font-size: 24px;
  width: 30%;
  color: rgb(0, 177, 177);
  border: 2px solid aqua;
  border-radius: 7px;
}

img {
  width: 55%;
}

footer {
  clear: both;
}

h1 {
  color: blue;
  padding: 10px;
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

p {
  color: goldenrod;
}

#page1 {
  width: 150px;
  height: 55px;
  float: left;
  visibility: hidden;
  border-radius: 10px;
  background-color: purple;
  font-family: 'Modak', cursive;
  color: rgb(0, 177, 177);
  font-size: 30px;
}

#page2 {
  width: 150px;
  height: 55px;
  float: right;
  visibility: visible;
  border-radius: 10px;
  background-color: purple;
  font-family: 'Modak', cursive;
  color: rgb(0, 177, 177);
  font-size: 30px;
}